<html xmlns:th="http://www.thymeleaf.org">


<div class="container my-3 p-5">
    <h4 class="my-4"> 장바구니 목록</h4>

    <div th:if="${cartItemSize} == 0">
            <span class="h6">장바구니가 비어있습니다.</span>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}">
                <!-- 일반 유저일 때 -->
                    <div class="card-header" th:onclick="|location.href='@{|/product/${cartItem.product.productId}|}'|"
                         style="cursor:pointer;">
                        <span th:text="${cartItem.product.subject}"></span>
                    </div>
            </tr>
            </tbody>
        </table>
    </div>