<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>주문 상세페이지</title>
</head>

<body>
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세내용</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div>
                    주문번호 : [[${order.orderId}]]
                </div>

                <div>
                    주문날짜 : [[${order.createDate}]]
                </div>

                <div>
                    주문자 : [[${#authentication.principal.username}]]
                </div>

                <div>
                    주문가격 : [[${order.payPrice}]]
                </div>

                <div>
                    <div th:each="orderItem : ${order.orderItems}">
                        <div>
                            도서명 : [[${orderItem.product.subject}]]
                            가격 : [[${orderItem.salePrice}]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>