<table>
    <thead>
    <tr>
        <th>글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일시</th>
        <th>수정날짜</th>
        <th>내용</th>
        <th>해시태그</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td th:text="${post.postId}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.username}"></td>
        <td th:text="${post.createdAt}"></td>
        <td th:text="${post.updatedAt}"></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.keyword}"></td>
    </tr>
    </tbody>
</table>
